table
{
border: 0px;
}
.shape4
{
  background-image: url(images/shape4.png);
}
.layer3
{
    background-image: url(images/Layer3.png);
}
body
{
  background-image: url(images/Layer0.png);
  weidth:1440px;
  height: 1440px;
}
